<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join | todo</title>
</head>
<body>

  <h1>Join</h1>
  {% if error %}
    <p>error</p>
  {% endif %}
  <form action="/protected" method="post">
    <label for="username">
      Username
      <input type="text" name="username" id="username">
    </label>
    <label for="password">
      Password
      <input type="password" name="password" id="password">
    </label>
   <label for="confirm_password">
      Confirm Password
      <input type="password" name="confirm_password" id="confirm_password">
    </label>


              "https://demo.mcaptcha.org/widget/?sitekey=pHy0AktWyOKuxZDzFfoaewncWecCHo23"
      <div
        id="mcaptcha__widget-container"
        style="width: 304px; height: 78px"
      ></div>
      <script src="{{ url_for('static', filename='index.js') }}"></script>
      <script charset="utf-8">
        let config = {
          widgetLink: new URL(
            "http://localhost:7000/widget/?sitekey={{ sitekey }}"
          ),
        };
        new mcaptchaGlue.default(config);
      </script>

    <button type="submit">Register</button>

  </form>
  <p>Already have an account? <a href="/login" >Log in</a></p>
  
</body>
</html>
